{% extends 'layout.html' %}    

{% block title %}
{{ cluster_info.name }}
{% endblock %}

{% block body %}
<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">

		<ol class="breadcrumb">
		    <li>
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			<a href="{{ url_for('index') }}">
				Home
			</a>
		    </li>
		    <li>
			<span class="fa fa-sitemap" aria-hidden="true"></span>
				{{ cluster_info.name }}
		    </li>
		</ol>

           <dl class="dl-horizontal">
                     <dt>Number of Nodes:</dt>
                     <dd>{{ cluster_info.nodes | length }}</dd>

                     <dt>Ganeti Version:</dt>
                     <dd>{{ cluster_info.software_version }}</dd>

                     <dt>Disk Templates:</dt>
                     <dd>
                         {% for template in  cluster_info.enabled_disk_templates %} 
                             <span class="label label-info"> {{ template }} </span> 
                         {% endfor %}
                     </dd>

                     <dt>Enabled Hypervisor:</dt>
                     <dd>{{ cluster_info.enabled_hypervisors }}</dd>

                     <dt>Tags</dt>
                     <dd>
                         {% for tag in cluster_info.tags %} 
                        <span class="label label-info"> {{ tag }} </span> 
                        {% endfor %}
                     </dd>
           </dl>

            <button type="button" class="btn btn-default btn-sm btn-block disabled">Rebalance Cluster</button>

        </div>  <!-- panel-heading -->

        <div class="panel-body" style="padding:0px;">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Nodes</a></li>
            </ul>

        <ul class="list-group">
        {% for node in cluster_info.nodes | sort %}
            <div class="list-group-item">
                <a href="{{ url_for('ganeti_node_view', node_name=node.name, cluster_name=cluster_info.name ) }}"> {{ node.name }} </a>
                <span class="badge pull-right">{{ node.pinst_cnt }}</span>
            </div>
        {% endfor %}
        </ul>

        </div>  <!-- panel-body -->

    </div> <!-- panel -->

{% endblock %}
