{% extends 'layout.html' %}

{% block title %}
{{ node_name }}
{% endblock %}

{% block body %}
<div class="container">

    <div class="panel panel-default">

            <div class="panel-heading">
                    <ol class="breadcrumb">
                            <li>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    <a href="{{ url_for('index') }}"> Home </a>
                            </li>
                            <li>
                                    <span class="fa fa-sitemap" aria-hidden="true"></span>
                                    <a href="{{ url_for('ganeti_cluster_view', cluster_name=cluster_name) }}"> {{ cluster_name }} </a>
                            </li>
                            <li class="active">
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{ node_name }}
                            </li>
                    </ol>
                    <div class="row">
                            <div class="col-md-8">
                                    <dl class="dl-horizontal">
                                            <dt>Cluster Name:</dt> <dd>{{ cluster_name }}</dd>
                                            <dt>Number of VMs:</dt> <dd id="node_inst_cnt">{{ node_info.pinst_cnt }}</dd>
                                            <dt>Role:</dt> <dd id="node_role_text">{{ node_info.role }}</dd>
                                            <dt>Tags</dt>
                                            <dd> {% for tag in  node_info.tags %} 
                                            <span class="label label-info"> {{ tag }} </span> 
                                            {% endfor %} </dd>
                                    </dl>
                            </div> <!-- col-md-8 -->
                            <div class="col-md-4">
                                    <div class="status_panel pull-right">
                                            <div id="node_power_status">
                                                    Host is
                                            </div>
                                            <div class="btn-group-vertical" role="group">
                                                    <button type="button" class="btn btn-info" onClick="start_nodestatus_task();"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Check Status</button>
                                                    <button type="button" class="btn btn-success" onClick="start_startupnode_task();"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Startup Node</button>
                                                    <button type="button" class="btn btn-danger"  onClick="start_shutdownnode_task();"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>Shutdown Node</button>
                                            </div> <!-- btn-group -->
                                    </div> <!-- status_panel -->
                            </div> <!-- col-md-4 -->
                    </div> <!-- row -->

                    <button id="evacuate_node_button" type="button" class="btn btn-default btn-sm btn-block" onClick="evacuate_node();">Begin Migrations!</button>
            </div> <!-- panel heading -->

        <div class="panel-body">
            <ul class="list-group" id="progress_listgroup">
		    {% if node_info.pinst_list is not defined %}
		    <div class='list-group-item'>
			    <p class="text-center">
			    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			    The node is empty.
			    </p>
		    </div>
		    {% endif %}
                    {% for instance in node_info.pinst_list %}
                    <div id="list_{{instance | replace('.','_') }}_item" class="list-group-item">
                        <div>
                            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                            <span> {{ instance }} </span>
                            <span id="instance_migrate_status"></span>
                            <span id="instance_migrate_detail" class="pull-right"></span>
                        </div>
                        <div class="progress" style="margin-bottom:0px;">
                        <div id="list_{{instance | replace('.','_') }}_progress" class="progress-bar" role="progressbar" style="min-width: 2em; width: 0%;">0%</div>
                            <button type="button" class="btn btn-info btn-xs pull-right" onClick="start_migration_task( '{{instance}}', '{{cluster_name }}');">Migrate</button>
                        </div>
                    </div>
                    {% endfor %}
            </ul>
        </div> <!-- panel-body -->
    </div> <!-- panel -->

<script>
    function start_shutdownnode_task() {
        return $.ajax({
            type: 'POST',
            url: '/shutdown_node',
	    data: { node_name: "{{ node_name }}", cluster_name: "{{ cluster_name }}" },
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                console.log(status_url);
		wait_for_shutdown(status_url)
            },
        });
    };
    function wait_for_shutdown(status_url) {
        // send GET request to status URL to get current status of job
        $.getJSON(status_url, function(data) {
            if (data['result'] == 'SUCCESS'){
                //alert(data['message']);
                $('#node_power_status').html(data['message'])
            } else if (data['result'] == 'FAILURE') {
                //alert(data['message']);
                $('#node_power_status').html(data['message'])
            } else {
                setTimeout(function() {
		    wait_for_shutdown(status_url)
                }, 8000); // rerun in 2 seconds
            }
	});
    };
</script>

<script>
    function start_startupnode_task() {
        return $.ajax({
            type: 'POST',
            url: '/startup_node',
	    data: { node_name: "{{ node_name }}", cluster_name: "{{ cluster_name }}" },
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                console.log(status_url);
		wait_for_startup(status_url)
            },
        });
    };
    function wait_for_startup(status_url) {
        // send GET request to status URL to get current status of job
        $.getJSON(status_url, function(data) {
            if (data['result'] == 'SUCCESS'){
                //alert(data['message']);
                $('#node_power_status').html(data['message'])
            } else if (data['result'] == 'FAILURE') {
                //alert(data['message']);
                $('#node_power_status').html(data['message'])
            } else {
                setTimeout(function() {
		    wait_for_startup(status_url)
                }, 4000); // rerun in 2 seconds
            }
	});
    };
</script>

    <script>
        var instance_array = [
                {% for instance in node_info.pinst_list %} "{{instance}}", {% endfor %}
        ];
	//$( document ).ready(function() {
	    //if ( instance_array.length !== 0 ) {
                // disable the shutdown node button
	    //};
	//});
        function evacuate_node(){
            return $.ajax({
                type: 'POST',
		url: '{{ url_for("evacuate_node") }}',
		data: { node_name: "{{ node_name }}", cluster_name: "{{ cluster_name }}" },
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    console.log(status_url);
                    evacuate_node_progress(status_url);
                },
            });
        }
function evacuate_node_progress(status_url) {
        $.getJSON(status_url, function(data) {
                $(".evacuate_node_button").text("Evacuation in progress");
                $(".evacuate_node_button").attr("disabled", "disabled");
                if (data['result'] != 'PENDING' && data['result'] != 'STARTED') {
                        $("#node_role_text").text(data['message']['status']['role'])
                                $("#node_inst_cnt").text(data['message']['status']['pinst_cnt'] - data['message']['status']['inst_done'])
                }
                if (data['result'] == 'E_MIGRATING'){

                        var results = data.message.progress;
                        for ( result in results ){
                                if (!results[result].task_status){
                                        continue;
                                }
                                console.log( result + ':' + results[result].task_status.percent);
                                var progressBar = $("#list_" + result + "_item").find('[id="list_' + result + '_progress"]');
                                var progress = results[result].task_status.percent.toString() + '%';
                                progressBar.css('width', progress);
                                progressBar.html(progress);
                        }

                        //debugger;
                        //for ( instance in data['message']['progress'] ) {
                        //}
                }

                if (data['result'] == 'SUCCESS') {
                        alert("done success")
                } else if (data['result'] == 'FAILURE') {
                        alert("done error")
                } else {
                        setTimeout(function() {
                                evacuate_node_progress(status_url);
                        }, 2000);
                }

        });
}
    </script>

    <script>
        function start_migration_task(instance_name, cluster_name) {
           // send ajax POST request to start background job
           return $.ajax({
              type: 'POST',
              url: '/migrate',
              data: { instance_name: instance_name, cluster_name: cluster_name },
              success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                console.log(status_url);
                update_progress(status_url, $('#list_' + instance_name.replace(/\./g,'_') + '_progress'), $('#list_' + instance_name.replace(/\./g,'_') + '_item'));
              },
           });
        }
        function update_progress(status_url, progressbar_element, status_div) {
            // send GET request to status URL to get current status of job
            $.getJSON(status_url, function(data) {

                // Task is running
                percent = parseInt(data['percent']);
                progressbar_element.css('width', percent + '%');
                progressbar_element.text(percent + '%');
                // Disable migrate button
                status_div.find(".btn-xs").text("In progress");
                status_div.find(".btn-xs").attr("disabled", "disabled");

                // Update instance line with job status
                if (data['state'] != 'PENDING' && data['state'] != 'JSTARTED') {
                        // Aside from PENDING means ganeti job has been submitted and has a state
                        status_div.find("#instance_migrate_status").text("[" + data["job_details"]["opstatus"][0] + "]")
                }
                //debugger;
                if (data['state'] == 'SUCCESS'){
                    status_div.find("#instance_migrate_detail").text('Result: ' + data['status']);
                    if (data['job_status'] == 'Success'){
                        progressbar_element.addClass("progress-bar-success")
                        status_div.parent().append(status_div);
                    } else {
                        progressbar_element.addClass("progress-bar-danger")
                    }
                } else if (data['state'] == 'FAILURE') {
                    status_div.find("#instance_migrate_status").text('Result: ' + data['status']);
                } else {
                    setTimeout(function() {
                        update_progress(status_url, progressbar_element, status_div);
                    }, 2000); // rerun in 2 seconds
                }
            });
        };


    </script>

</div> <!-- container -->
{% endblock %}
